*{
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    color: #fff;
}

body{
    background: #000;
}

header{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 40px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.grid-item {
    background-color: white;
    height: 200px;
    width: 400px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 2em;
    margin-top: 2em;
}

footer{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
}